*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'evogria regular', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: 0c436b;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    /*background: #0c436b;*/
}

.logo{
    height: 60px;
    width: 70px;
}

.navbar{
    display: flex;
    position: relative;
}

.navbar li{
    list-style: none;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.navbar li a:hover{
    color: greenyellow;
    text-decoration: none;
}

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(data.jpg);
    background-size: cover;
}

.banniere .content{
    max-width: 70%;
    text-align: center;
}

.banniere .content h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}

.content p:nth-child(2){
    color: #fff;
    font-size: 1.2em;
}

.btn1{
    font-size: 1em;
    color: #fff;
    background-color: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 00.5s;
    margin-left: 10px;
}

.btn2{
    font-size: 1em;
    color: #fff;
    background-color: #42ff42;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 00.5s;
    margin-left: 10px;
}

.btn1:hover{
    letter-spacing: 4px;
}

.btn2:hover{
    letter-spacing: 4px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}

.row .col50 h2{
    margin-bottom: 20px;
}

.titre_about{
    color: #000;
    font-size: 2em;
    font-weight: 400px;
    text-transform: capitalize;
}

.row .col50 img{
    height: 250px;
    width: 350px;
    position: relative;
}

.titre_serv{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service{

}

.titre_serv{
    padding-bottom: 50px;
}

.contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.contenu .box{
    padding: 20px;
}

#box1{
     padding-top: 15px;
}

#box2{
    padding-top: 15px;
}

#box3{
    padding-top: 15px;
}

#box4{
    padding-top: 15px;

}
#box5{
    padding-top: 15px;
}

#box6{
    padding-top: 15px;
}

.text_color1{
    background-color: #fb911f;
}

.text_color2{
    background-color: #a22fbe;
}

.text_color3{
    background-color: #134f5e;
}

.text_color4{
    background-color: #167239;
}

.text_color5{
    background-color: #311b49;
}

.text_color6{
    background-color: #470c0c;
}











