*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'evogria regular', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: 0c436b;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    /*background: #0c436b;*/
}

.logo{
    height: 60px;
    width: 70px;
}

.navbar{
    display: flex;
    position: relative;
}

.navbar li{
    list-style: none;
}
.navbar a{
    color: #0c436b;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.navbar li a:hover{
    color: greenyellow;
    text-decoration: none;
}

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(data.jpg);
    background-size: cover;
}

.banniere .content{
    max-width: 70%;
    text-align: center;
}

.banniere .content h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
}

.content p:nth-child(2){
    color: #fff;
    font-size: 1.2em;
}

.btn1{
    font-size: 1em;
    color: #fff;
    background-color: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 00.5s;
    margin-left: 10px;
}

.btn2{
    font-size: 1em;
    color: #fff;
    background-color: #42ff42;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 00.5s;
    margin-left: 10px;
}



























